<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /evento/public
    
    # Only rewrite if not existing file/directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>